.content-container{
    margin: 0 auto;
    margin-top: 15px;
    width: 435px;
    display: flex;
    border: 2px solid black;
    opacity: 0;
    animation: slide-up 250ms ease-in-out forwards;
}
.content-body{
    height: 70px;
    text-align: left;
    padding: 7px;
}
@keyframes slide-up {
    0% {
      opacity: 0;
      translate: 0 1rem;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }